.county span.county-first
{
    padding-left: 2px;
}
.county > span
{
    padding-right: 2px;
}
.county-days-wrapper, .county-hours-wrapper, .county-minutes-wrapper, .county-seconds-wrapper
{
    display: inline-block !important;
    padding-left: 2px;
}
.county > span > span
{
    display: block;
}
